force-app/main/default/flows/Get_Customer_Profitability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Output_Variables</name>
        <label>Set Output Variables</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>clientProfitability</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profitability.Client_Profitability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>profitAfterTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profitability.Profit_After_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>profitBeforeTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profitability.Profit_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Queries the C360_Profitability_TestData_v2 Data Cloud DMO by CIF Number and returns Client Profitability, Profit After Tax, and Profit Before Tax. Invoked from BB_C360_Helper for the Customer 360 view.</description>
    <environments>Default</environments>
    <interviewLabel>Get Customer Profitability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Customer Profitability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Profitability</name>
        <label>Get Profitability</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Output_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIF_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cifNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_Profitability_TestData_v2csv__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Profitability</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cifNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientProfitability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>profitAfterTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>profitBeforeTax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
